---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Conocé <strong>mis servicios</strong> profesionales </h2>
			<p class="pb-0 text-lg">
				Ofrezco un acompañamiento profesional adaptado a tus necesidades. Psicoterapia individual para adultos y jóvenes, aptos psicológicos y evaluaciones psicotécnicas con respaldo profesional. Atención online y presencial.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Psicoterapia para adultos y jóvenes"
				subtitle="Terapia para ansiedad, estrés y dificultades emocionales. Espacio de confianza para el bienestar emocional, el autoconocimiento y el crecimiento personal."
				image={feature01}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Apto Psicológico"
				subtitle="Evaluación profesional para certificar estabilidad emocional en trámites como licencias de conducir, porte de armas y empleos de alta responsabilidad."
				image={feature02}
				link="/features"
			/>
			<Card
				title="Evaluaciones psicotécnicas para empresas y particulares"
				subtitle="Pruebas científicas para selección de personal, certificaciones laborales y análisis de habilidades cognitivas y emocionales."
				image={feature03}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Confianza y transparencia"
				subtitle="La realización de evaluaciones no implica la obtención automática de un 'apto', ya que los resultados se ajustan objetivamente a lo observado durante el proceso."
				image={feature04}
				link="/features"
			/>
			<Card
				title="Atención online y presencial en Jesús María"
				subtitle="Sesiones de terapia y evaluaciones psicológicas desde cualquier lugar o en el consultorio. Atención por IOSFA y consultas particulares."
				image={feature05}
				link="/features"
			/>
		</Col>
	</Row>
</Section>
