---
export interface Props {
  phone?: string;
  message?: string;
  size?: number;
  bottom?: string;
  right?: string;
  left?: string;
  top?: string;
}

// Valores por defecto
const {
  phone = "543525419343",
  message = "Hola, quiero saber más sobre tus servicios.",
  size = 60,
  bottom = "20px",
  right = "20px",
  left = "20px",
} = Astro.props;

const encodedMessage = encodeURIComponent(message);

const whatsappMobileUrl = `https://wa.me/${phone}?text=${encodedMessage}`;
const whatsappDesktopUrl = `https://web.whatsapp.com/send?phone=${phone}&text=${encodedMessage}`;
---
<a 
  href={whatsappMobileUrl} 
  target="_blank" 
  class="whatsapp-button whatsapp-mobile"
  aria-label="Chatear por WhatsApp"
  style={`bottom: ${bottom}; right: ${right}; width: ${size}px; height: ${size}px; font-size: ${size * 0.6}px;`}
>
  <i class="fa-brands fa-whatsapp"></i>
</a>

<a 
  href={whatsappDesktopUrl} 
  target="_blank" 
  class="whatsapp-button whatsapp-desktop"
  aria-label="Chatear por WhatsApp"
  style={`bottom: ${bottom}; left: ${left}; width: ${size}px; height: ${size}px; font-size: ${size * 0.6}px;`}
>
  <i class="fa-brands fa-whatsapp"></i>
</a>

<style>
  .whatsapp-button {
    position: fixed;
    background-color: #25D366;
    z-index: 1000;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    text-decoration: none;
    transition: background 0.3s ease;
    opacity: 0;
    animation: fadeIn 2s forwards, glowEffect 7s infinite 3s;
  }

  .whatsapp-button:hover {
    background-color: #128C7E;
  }

    @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(1.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes glowEffect {
  0% { box-shadow: 0 0 20px 1px rgba(226, 24, 125, 0.1); }
  50% { box-shadow: 0 0 20px 5px rgba(190, 24, 93, 1); }
  100% { box-shadow: 0 0 20px 1px rgba(226, 24, 125, 0.1); }
}

  .whatsapp-mobile, .whatsapp-desktop {
    display: none;
  }

  @media (max-width: 768px) {
    .whatsapp-mobile {
      display: flex;
    }
  }

  @media (min-width: 769px) {
    .whatsapp-desktop {
      display: flex;
    }
  }
</style>
